{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "rules": {
      "semi": ["warn", "always"],
      "indent": ["error", 2],
      "react/jsx-uses-react": 0
  }
}